{% extends 'base.html.twig' %}

{% block title %}
    {{constant('CONNECT', contexte)}}
{% endblock %}
{% block stylesheets %}
    {% if ismobile %}
        <link rel="stylesheet" href="{{ asset('css/enregistrerMobile.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/enregistrer.css') }}">
    {% endif %}
{% endblock %}
{% block body %}
<body>
    <header class="selectionjeu">
        <a href="{{ path('app_accueil') }}"><img class="navlien" src="{{ asset('assets/SJDRlogo.png') }}" width="100px" alt="Logo SJDR"></a>
    </header>
    <div class="form">
        <table>
            <form action="{{ path('app_connecter') }}" method="post">
                <tr>
                    <td><label for="username">{{constant('EMAIL', contexte)}}</label></td>
                    <td><input type="text" id="username" name="_username" value="{{ last_username }}"></td>
                </tr>
                <tr>
                    <td><label for="password">{{constant('MDP', contexte)}}</label></td>
                    <td><input type="password" id="password" name="_password"></td>
                </tr>
                <tr class="endformbuttons">
                    <td class="tdbuttonleft"><button type="submit">{{constant('CONNECT', contexte)}}</button></td></form>
                    <td class="souvenir"><label class="souvenirlabel"><input class="souvenirlabel checkbox" type="checkbox" name="_remember_me"/>{{constant('SOUVENIRDEMOI', contexte)}}</label></td>
                </tr>
                <tr>
                    <td class="tdbuttonright">
                        <form class="connectbutton" action="{{ path('app_enregistrer') }}"  method="post" ><button type="submit">{{constant('NOUVEAUCOMPTE', contexte)}}</button></form>
                    </td>
                </tr>
                {# If you want to control the URL the user is redirected to on success
                    <input type="hidden" name="_target_path" value="/account"> #}
        </table>
    </div>
</body>
{% endblock %}

