{% extends 'base.html.twig' %}
{% block stylesheets %}
    {% if ismobile %}
        <link rel="stylesheet" href="{{ asset('css/profilMobile.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/profilBureau.css') }}">
    {% endif %}
    {% if jeuchoisi == 'vampire' %}
        <link rel="stylesheet" href="{{ asset('css/profilVampire.css') }}">
    {% endif %}

{% endblock %}
{% block body %}
<body>
    <header>
        <div class="selectionjeu">
            <a href="{{ path('app_accueil') }}"><img class="navlien" src="{{ asset('assets/SJDRlogo.png') }}" width="100px" alt="Logo SJDR"></a>
            <a class="lien_image inactifanima" title="Anima beyond fantasy" href="#" id="anima"> <img alt="Anima beyond fantasy" src="{{ asset('assets/nomStyleAnima.webp') }}" width="300"> </a>
            <a class="lien_image inactifvampire" title="Vampire la mascarade" href="{{ path('app_profil_jeu', {'jeu': 'vampire'}) }}" id="vampire"> <img alt="Vampire la mascarade" src="{{ asset('assets/nomStyleVampire.webp') }}" width="300"> </a>
        </div>
    </header>
    <div class="contenu">
        <aside class="infoperso">
            <h1>{{constant('PROFIL', contexte)}}</h1>
            <div class="imgprofil">
                <div class="imgprofil">{{ form_start(imgform) }}{{ form_row(imgform.imageFile) }}
                    {% if app.user.imageName %}
                        <div class="avatar"><img src="{{ asset('images/image_profil/'~app.user.imageName) }}" width="100px" height="100px" alt="Image de profil"></div>
                    {% endif %}
                    <div class="button"><button id="submitimg" type="submit">{{constant('MODIFIER', contexte)}}</button>{{ form_end(imgform) }}</div>
                </div>

            </div>
                <table class="infoprofil">
                    {{ form_start(modifierMembreForm) }}
                    <tr>
                        <td>{{constant('EMAIL', contexte)}}</td>
                        <td>{{ form_row(modifierMembreForm.email) }}</td>
                    </tr>
                    <tr>
                        <td>{{constant('DATENAISSANCE', contexte)}}</td>
                        <td>{{ form_row(modifierMembreForm.dateNaissance) }}</td>
                    </tr>
                    <tr>
                        <td>{{constant('PSEUDO', contexte)}}</td>
                        <td>{{ form_row(modifierMembreForm.pseudo) }}</td>
                    </tr>
                    <tr class="trbutton">
                        <td><button type="submit">{{constant('CONFIRMMODIF', contexte)}}</button></td>
                    </tr>
                    {{ form_end(modifierMembreForm) }}
                    <tr class="trbutton">
                        <td>
                            <button><a href="{{ path('app_modifiermdp') }} ">{{constant('MODIFMDP', contexte)}}</a></button>
                        </td>
                    </tr>
                </table>
        </aside>
        <main class="infosjdr">
            <div class="fiche_campagne">
                <h1>{{constant('GERERFICHES', contexte)}}</h1>
                <div class="tableaux">
                    <table class="cardtab">
                        {% for fiche in app.user.fiches %}
                            <tr class="cardligne">
                                <td class="perso card">
                                    {% if fiche.nom %}<p class="nom">{{ fiche.nom }}</p> {% endif %}<br>
                                    {% if fiche.concept %}<p class="concept">{{ fiche.concept }}</p> {% endif %}
                                </td>
                                <td class="cardlink">
                                    <a href="{{ path('app_fiche_vampire_suppression_id', {'id': fiche.id}) }}" >{{constant('SUPPRIMER', contexte)}}</a><br>
                                    <a href="{{ path('app_fiche_vampire_modifier_id', {'id': fiche.id}) }}">{{constant('MODIFIER', contexte)}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <table class="cardtab">
                        {% for campagne in app.user.campagnes %}
                            <tr class="cardligne">
                                <td class="perso card">
                                    {% if campagne.nom %}<p class="nom">{{ campagne.nom }}</p> {% endif %}
                                </td>
                                <td class="cardlink">
                                    <a href="{{ path('campagne_supprimer', {'id': campagne.id}) }}" >{{constant('QUITTER', contexte)}}</a><br>
                                    <a href="{{ path('campagne_consulter', {'random': campagne.random}) }}">{{constant('MODIFIER', contexte)}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for campagne in app.user.campagnesMJ %}
                            <tr class="cardligne">
                                <td class="perso card">
                                    {% if campagne.nom %}<p class="nom">{{ campagne.nom }}</p> {% endif %}
                                    {% if campagne.random %}<p class="nom">{{constant('LIENDINVIT', contexte)}}<br><a class="lienpartie" href="{{ path('rejoindre_fiche_random', {'random': campagne.random}) }}">{{constant('REJOINDREPARTIE', contexte)}}</a></p> {% endif %}
                                </td>
                                <td class="cardlink">
                                    <a href="{{ path('campagne_supprimer', {'id': campagne.id}) }}" >{{constant('SUPPRIMER', contexte)}}</a><br>
                                    <a href="{{ path('campagne_consulter', {'random': campagne.random}) }}">{{constant('MODIFIER', contexte)}}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="cardcrea">
                <div>
                    <a class="card createcard" href="{{ path('app_fiche_vampire_creer') }}">{{constant('CREERFICHE', contexte)}}</a>
                </div>
                <div>
                    <a class="card createcard" href="{{ path('campagne_creer') }}" >{{constant('CREERCAMPAGNE', contexte)}}</a>
                </div>
            </div>
        </main>
    </div>
</body>
{% endblock %}

{% block title %}

{% endblock %}

