{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {% if ismobile %}
        <link rel="stylesheet" href="{{ asset('css/AccueilMobile.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ asset('css/AccueilBureau.css') }}">
    {% endif %}
{% endblock %}

{% block body %}
<body class="{{ jeuchoisi }}">
    <header class="{{ jeuchoisi }}">
        <div class="selectionjeu">
            <a class="lien_image {% if jeuchoisi != 'anima' %}inactifanima{% endif %}" title="Anima beyond fantasy" href="#" id="anima"> <img alt="Anima beyond fantasy" src="{{ asset('assets/nomStyleAnima.webp') }}" width="300"> </a>
            <a class="lien_image {% if jeuchoisi != 'vampire' %}inactifvampire{% endif %}" title="Vampire la mascarade" href="{{ path('app_accueil_jeu', {'jeu': 'vampire'}) }}" id="vampire"> <img alt="Vampire la mascarade" src="{{ asset('assets/nomStyleVampire.webp') }}" width="300"> </a>
        </div>
        {% if jeuchoisi != 'aucun' %}
            <div class="navigation_bar">
                   <img class="navlien" src="{{ asset('assets/SJDRlogo.png') }}" width="100px" alt="Logo SJDR">
                   {% if app.user %}
                       <a class="navlien {{ jeuchoisi }}" href="{{ path('app_fiche_vampire_creer') }}">{{constant('CREERFICHE', contexte)}}</a>
                       <a class="navlien {{ jeuchoisi }}" href="{{ path('app_profil') }}">{{constant('PROFIL', contexte)}}</a>
                       <a class="navlien {{ jeuchoisi }}" href="{{ path('app_deconnecter') }}">{{constant('DECONNECTER', contexte)}}</a>
                   {% else %}
                       <a class="navlien {{ jeuchoisi }}" href="{{ path('app_connecter') }}">{{constant('CONNECT', contexte)}}</a>
                       <a class="navlien {{ jeuchoisi }}" href="{{ path('app_enregistrer') }}">{{constant('ENREGISTRER', contexte)}}</a>
                   {% endif %}
            </div>
        {% endif %}
    </header>
    <main>
    <article class="guide">
        <h2>{{constant('ACCUEILGUIDE1', contexte)}}</h2>
        <p><img class="navlien" src="{{ asset('assets/SJDRlogo.png') }}" width="100px" alt="Logo SJDR"> {{constant('ACCUEILGUIDE2', contexte)}}</p>
        <p>{{constant('ACCUEILGUIDE3', contexte)}}<br>
            {{constant('ACCUEILGUIDE4', contexte)}}</p>
        <p>{{constant('ACCUEILGUIDE5', contexte)}}</p>
    </article>
    <section class="partie">
        <div class="btn btn-secondary cont {{ jeuchoisi }}" id="linkCreer"><a href="{{ path('campagne_creer') }}" class="{{ jeuchoisi }}">{{constant('CREERCAMPAGNE', contexte)}}</a> </div>
        <div class="btn btn-secondary cont {{ jeuchoisi }}" id="linkRejoindre">
            <form id="formpartie" method="post" >
                <input id="partierand" required type="text" name="rejoindre_link">
                <button class="btn btn-secondary rejoindre {{ jeuchoisi }}" type="submit">{{constant('REJOINDREPARTIE', contexte)}}</button>
            </form>
        </div>
    </section>
    </main>
    <article class="roadmap">
        <h2>{{constant('FONCTIONALITEES', contexte)}}</h2>
    </article>
</body>

    <script>
        const formpartie = document.getElementById('formpartie')
        formpartie.addEventListener("submit", redirection)
        function redirection(e){
            e.preventDefault();
            let random = document.getElementById('partierand');
            document.location.href="{{ path('rejoindre_fiche') }}/"+random.value;
            console.log(random.value)


        }
    </script>
{% endblock %}
